<link rel="stylesheet" href="{{style}}">
<article class="book">
  <div class="book-info">
    <span><img src="/images/{{id}}.jpg" alt="{{title}} cover picture"></span>
    <div class="title mb-3"></div>
      <h2 class="mb-3"><a href="{{id}}">{{title}}</a></h2>
      <h6>Author: {{author}}</h6>
  </div>
</article>