<article class="book">
  <div class="book-info">
    <div class="title mb-3">
      <h2 class="mb-3"><a href="{{id}}">{{title}}</a></h2>
      Author: {{author}}
    </div>
    <span><img src="/images/{{id}}.jpg" alt="{{title}} cover picture"></span>
  </div>
  <div class="meta">
    {{#if quantity}}
    Quantity on hand: {{quantity}}
    {{else}}
    Not Available
    {{/if}}
  </div>
</article>